#root {
  width: 110%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #EEEEEE;
  place-content: center;
  place-items: center;
}

/* d-flex justify-content-between  justify content based on the div width*/

.navbar{
  width: 100%;
  position: relative;
  text-align: center;
  background: #3A98B9;
  color: #FEFAE0;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.card {
  display: flex;
  margin-bottom: 20px;
  padding-top: 10px;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  
}
.postImage {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}
.actionUpvote{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: space-between;
  
}
.upVote {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.comments{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  min-width: 80%;
  background-color:#e2e3e5;
  
}

.betButton:hover {
  cursor: pointer;
}
.action {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  padding-right: 10px;
  padding-bottom: 10px;
 
}

.trash:hover {
  color: red;
  cursor: pointer;

}

.btn {
  margin-right: 10px;
}

.order{
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  
}
.search {
  width: 200px !important;
  border-radius: 15px !important; 
  margin-right: 20px; 
}

.btn{
  width: 150px;
  margin-bottom: 10px;
}
.orderspace{
  margin-right: 10px;
}

.btn-info {
  width: 120px;
}

.loginForm{
  display: flex;
  width: 50%;  
}
.form-label {
  float: left;
}




